* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: row;
}

.izquierda {
    width: 40vw;
}

.derecha {
    width: 60vw;
}


.fila {
    display: flex;
    flex-direction: row;
    padding-left: 2vw;
    padding-bottom: 8vh;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 6vh;
    padding: 10vh 2vw 10vh 2vw;
}

.imgChiquita {
    height: 15vh;
    border-radius: 50%;
    border: solid black 0.5vh;
}

#imgGrande {
    height: 100vh;
}

p {
    padding-left: 2.5vw;
}